.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 750vh;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: #19395E;
  color: white;
  text-align: center;
}

.navigationB {
    background-color: #49789E;
}

.body {
    background-color: #E0E1E3;
    min-height: 750vh;
    width: 100%;
}

.logbutton {
    background-color: #49789E; 
    color: white;
}

.thistext {
    color: white;
}

.centerdiv {
    margin: auto;
}